[Unit]
Description=C++ Service
After=network.target

[Service]
Type=simple
ExecStart=/home/node/heindl-node-red/cpp/MatrixKeypad
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
