[Unit]
Description=Python Service
After=cpp.service

[Service]
Type=simple
ExecStart=python I2CLCD1602.py
WorkingDirectory=/home/node/heindl-node-red/py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
